* {
    /* border: 1px red dotted; */
} 

body {
    min-height: 100vh;
    color: white;
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    /* justify-content: center; */
    background-color: black;
    background-image: url(./assets/jason-leung-poI7DelFiVA-unsplash.jpeg);
}

#header, #footer {
    background-color: rgba(0,0,0,0.5);
}