:root {
    --softBlack: rgba(0,0,0,0.7);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    color: white;
    display: grid;
    grid-template-rows: 100px 2fr 250px;
    background-color: black;
    background-image: url(./assets/pagoda-background.jpg);
    background-repeat: no-repeat;
    font-family: 'urbanist';
    font-size: 1.5em;
}

/* Classes */

.button {
    cursor: pointer;
}

.icon {
    filter: invert(100%) sepia(0%) saturate(18%) hue-rotate(314deg) brightness(106%) contrast(104%);
}

.scaled {
    scale: 2.7;
}

/* Paragraphs */

.txt-wrapper {
    padding: 10px;
    background-color: var(--softBlack);
}

/* Images */

.img-wrapper:first-of-type {
    float: right;
    padding-right: 40px;
}

.img-wrapper:last-of-type {
    float: left;
    padding-left: 40px;
    padding-right: 10px;
}

/* #HEADER */

#header, #footer {
    background-color: var(--softBlack);
    /* align-content: center; */
}

#header {
    display: inline-grid;
    grid-template-columns: 1fr 2fr 1fr;
    padding: 20px 0;
}

#home {
    position: relative;
    /* display: grid; */
}

#home p {
    margin-left: 60px;
    scale: 1.2;
    position: absolute;
    top: 5px;
    border: 1px solid white;
}

#title {
    justify-self: center;
}

#navbar {
    display: flex;
    justify-content: flex-end;
}

#navbar :last-child {
    margin-left: 30px;
    margin-right: 60px;
}

/* #CONTENT */

#content {
    display: grid;
    justify-items: center;
}

#modules {
    display: grid;
    gap: 40px;
    justify-items: center;
    width: 80%;
    /* height: 80%; */
    background-color: rgba(255, 217, 0, 0.25);
    padding: 50px;
    margin: 100px;
}

/* #modules p {
    padding: 10px;
    background-color: var(--softBlack);
} */

/* #FOOTER */

#footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}

#socials, #address {
    align-self: center;
}

#socials p {
    display: flex;
    gap: 40px;
}

#map {
    margin: 15px;
    width: 60%;
}