* {
    /* border: 1px red dotted; */
} 

body {
    color: white;
    display: grid;
    grid-template-rows: repeat(3, 33vh);
    /* justify-content: center; */
    background-color: black;
    background-image: url(./assets/jason-leung-poI7DelFiVA-unsplash.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
}